body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

#playButton {
    cursor: pointer;
    margin-bottom: 50px;
}

#circle {
    fill: lightgray;
}

#triangle {
    fill: black;
}

#surface-container {
    position: relative;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

#surface {
    width: 100%;
    height: auto;
    border: 10px solid #000;
}

#rocket {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    transition: bottom 2s ease-in-out;
}

@media (max-width: 550px) {
    #rocket {
        width: 25px;
    }
}
